In [26]:
# Pass Statement
def my_func():
    pass

## Default Parameters

In [13]:
def build_person(first_name, last_name, age=None):
    """Return a dictionary of information about a person."""
    person = {'first': first_name, 'last': last_name}
    if age:
        person['age'] = age
    return person

musician = build_person('Akbar',"Hussain")
print(musician)

{'first': 'Akbar', 'last': 'Hussain'}

In [2]:
def greeting(name="wasif"):
    print(f"Hello {name} welcome to gilgit")
greeting("saboor")

Hello saboor welcome to gilgit

# Varibale Argument

## Positional Argument
when we requied more than 1 arguments

In [6]:
def add_numbers(*args):
    sum=0
    for numbers in args:
        sum+=numbers
    return sum
add_numbers(12,34,5,6,8,9)

74

In [7]:
def add_numbers(*args):
    for numbers in args:
        print(numbers)
add_numbers(12,34,5,6,8,9)

12
34
5
6
8
9

## Keyword Parameters
all the values must be in keys and values pairs

In [2]:
def print_details(**kwargs):
    for value,key in kwargs.items():
        print(f'{key}:{value}')
print_details(name="XYZ",Address="ABC",education="FGH")

XYZ:name
ABC:Address
FGH:education

# Filter Function()

In [1]:
def even(num):
    if num%2==0:
        return True

lst=[12,3,4,6,78,2,1,7,9,3,5]
list(filter(even,lst))

[12, 4, 6, 78, 2]

# Passing List

In [23]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [24]:
## Passing tuple
def my_function(food):
  for x in food:
    print(x)

fruits = ("apple", "banana", "cherry")

my_function(fruits)

apple
banana
cherry

# Lambda Function

In [2]:
#anonymous function which have number of arguments but have only a expression
#function without name
#lambda arguments : expression

In [3]:
def add(a,b):
    return a+b
add(12,34)

46

In [6]:
addition =lambda a,b: a+b

In [7]:
print(addition(12,34))

46

In [10]:
even = lambda x: x%2==0
even(13)

False

# Map Function

In [3]:
# will apply the function to whole input
def even(num):
    if num%2==0:
        return True
lst=[12,3,4,67,23,78,12,]
list(map(even,lst))

[True, None, True, None, None, True, True]

In [7]:
#Filter Function

def even(num):
    if num%2==0:
        return True

lst=[12,3,4,6,78,2,1,7,9,3,5]
list(filter(even,lst))

[12, 4, 6, 78, 2]

In [17]:
lst = [12, 3, 4, 6, 78, 2, 1, 7, 9, 3, 5]
even_numbers = []

for num in lst:
    if (lambda x: x % 2 == 0)(num):
        even_numbers.append(num)

print(even_numbers)

[12, 4, 6, 78, 2]

In [1]:
def input_no(a,b,c):
    a=int(input("Enter the value"))
    b=int(input("Enter the value"))
    c=int(input("Enter the value"))
    print(a,b,c)
input_no(10,23,56)

Enter the value12
Enter the value13
Enter the value14
12 13 14

In [6]:
def add_numbers(*args):
    for numbers in args:
        if numbers%2==0:
            return True
        else:
            return False

False

In [10]:
def vowel_checker(*args):
    for i in args:
        if i=="a" or i=="A" or i=="i" or i=="I" or i=="o" or i=="O" or i=="u" or i=="U" or i=="e" or i=="E":
            return True
var_1=['a','b','E','p','O']
list(map(vowel_checker,var_1))

[True, None, True, None, True]

In [1]:
# Example string
text = "Hello, OpenAI! OpenAI is awesome."

# upper() - Converts to upper-case
upper_text = text.upper()
print("Upper-case:", upper_text)

# lower() - Converts to lower-case
lower_text = text.lower()
print("Lower-case:", lower_text)

# find() - Finds a substring in a string: returns starting index
find_index = text.find("OpenAI")
print("Find 'OpenAI':", find_index)

# index() - Finds starting index of a substring
index_index = text.index("OpenAI")
print("Index of 'OpenAI':", index_index)

# count() - Counts the number of occurrences of a substring
count_openai = text.count("OpenAI")
print("Count 'OpenAI':", count_openai)

# join() - Used to join string of an iterable containing strings
list_of_strings = ["Hello", "from", "OpenAI"]
joined_string = " ".join(list_of_strings)
print("Joined string:", joined_string)

# isnumeric() - Used to check if a string is a number
num_string = "12345"
is_num = num_string.isnumeric()
print("Is numeric:", is_num)

# isalnum() - Used to check if a string is alpha-numeric
alnum_string = "OpenAI2024"
is_alnum = alnum_string.isalnum()
print("Is alpha-numeric:", is_alnum)

# split() - Used to split a string to a list
split_text = text.split()
print("Split string:", split_text)

# replace() - Replaces a string with another string
replaced_text = text.replace("OpenAI", "ChatGPT")
print("Replaced text:", replaced_text)

Upper-case: HELLO, OPENAI! OPENAI IS AWESOME.
Lower-case: hello, openai! openai is awesome.
Find 'OpenAI': 7
Index of 'OpenAI': 7
Count 'OpenAI': 2
Joined string: Hello from OpenAI
Is numeric: True
Is alpha-numeric: True
Split string: ['Hello,', 'OpenAI!', 'OpenAI', 'is', 'awesome.']
Replaced text: Hello, ChatGPT! ChatGPT is awesome.

In [2]:
find_index = text.find("OpenAI")
print("Find 'OpenAI':", find_index)

Find 'OpenAI': 7

# find()

In [3]:
text="Hello world"
text.find("r")

8

In [18]:
text = "Hello, welcome to my world."
text.find("e", 5, 10)
text.find("q", 5, 10)

-1

# upper Lower()

In [8]:
text = "Hello, welcome to my world."
text.upper()

'HELLO, WELCOME TO MY WORLD.'

In [9]:
text = "Hello, welcome to my world."
text.lower()

'hello, welcome to my world.'

# index()

In [15]:
text = "Hello, welcome to my world."
text.index("e")

1

# count()

In [1]:
text = "Hello, welcome welcome to my world." # count the occurence of substring
text.count("l")

5

# join()

In [25]:
text=["Hello",'welcome','to','my','world']
my_string=" ".join(text)
my_string

'Hello welcome to my world'

# isnum()

In [4]:
text="1"
text.isnumeric()

True

In [30]:
text=" hello world 12 why 344 happened2"
text.isnumeric()

False

# isalnum()

In [2]:
text=" hello world 12 why 344 happened2"
text.isalnum()

False

# split()
it convert into list

In [35]:
text = "Hello, welcome welcome to my world."
text.split()

['Hello,', 'welcome', 'welcome', 'to', 'my', 'world.']

In [36]:
text = "apple*banana*cherry*orange"
text.split('*')

['apple', 'banana', 'cherry', 'orange']

In [37]:
text = "apple*banana*cherry*orange"
text.split('*',1)

['apple', 'banana*cherry*orange']

# Replace()

In [39]:
text = "I like bananas"
text.replace("bananas", "apples")

'I like apples'

In [40]:
text = "one one was a race horse, two two was one too."
text.replace("one", "three", 2)

'three three was a race horse, two two was one too.'

# Random Library

In [8]:
import random
print(random.random())

0.15801274128377363

In [27]:
import random

print(random.randint(3.0, 10.0)) #only takes integer value

7

In [34]:
#sample return specific number of random values
my_list=['Angle','Apple','Kivi','Pineapple','Apricot','Mango','Watermelon','Banana','Grapes']
print(random.sample(my_list,k=2))

['Mango', 'Angle']

In [4]:
import random

print(random.randrange(3, 9))

8

In [6]:
my_list=['Angle','Apple','Kivi','Pineapple','Apricot','Mango','Watermelon','Banana','Grapes']
random.shuffle(my_list)
print(my_list)

['Angle', 'Apple', 'Mango', 'Watermelon', 'Grapes', 'Banana', 'Apricot', 'Kivi', 'Pineapple']

# Math

In [8]:
from math import pi,sqrt

In [9]:
print(pi)

3.141592653589793

In [10]:
print(sqrt(9))

3.0

In [13]:
import math
print(math.pow(9, 3))

729.0

In [14]:
print(math.factorial(7))

5040

In [15]:
print(math.fabs(-190))

190.0

In [18]:
print(math.floor(1.0))

1

In [59]:
math.floor(1.9)

1

In [21]:
math.ceil(1.9)

2

In [22]:
math.sin(12)

-0.5365729180004349

In [26]:
math.cos(0)

1.0

In [24]:
math.tan(30)

-6.405331196646276

In [27]:
p = [3]
q = [1]
print (math.dist(p, q))

2.0

In [29]:
p = [3, 3]
q = [6, 12]

# Calculate Euclidean distance
# sqrt(p-q)^2
# d = √[(x2 – x1)2 + (y2 – y1)2].
print (math.dist(p, q))

9.486832980505138

2