# List

In [3]:
A=[12,13,"Apple"]
print(A)

[12, 13, 'Apple']

In [4]:
for i in A:
    print(i)

12
13
Apple

In [5]:
A[0]="Pineapple"
A

['Pineapple', 13, 'Apple']

In [6]:
A.append(1)
A

['Pineapple', 13, 'Apple', 1]

In [7]:
A.insert(2,"Vector")
A

['Pineapple', 13, 'Vector', 'Apple', 1]

In [8]:
A.append("Water")

In [9]:
A.pop() # will remove last item form list
A

['Pineapple', 13, 'Vector', 'Apple', 1]

In [ ]:
del A[0] # it works on index
A

In [ ]:
A.clear()
A

In [ ]:
A=[12,13,"Apple"]

In [ ]:
for i in range(len(A)):
    print(A[i])

In [ ]:
for i in A:
    print(i)

## Sorting

In [ ]:
A=[12,13,14,16,100,67,23]
A.sort()
A

In [ ]:
A=[12,13,"Apple","ch",True,False]
A.sort(reverse=True)
A

In [ ]:
A=["Apple","ch"]
A.sort(reverse=True)
A

In [ ]:
A=["orange", "mango", "kiwi", "pineapple", "banana"]
A.sort(reverse=True)
A

In [ ]:
A=["character","Wifi",12,"Kivi",12.0]
B=A.copy()
B

In [ ]:
A=["character","Wifi",12,"Kivi",12.0]
B=A

In [ ]:
B

## Tuple

In [ ]:
tp=("character","Wifi",12,"Kivi",12.0)

In [ ]:
len(tp)

In [ ]:
for i in range(len(tp)):
    print(tp[i])

In [ ]:
tp=('tuple')
type(tp)

In [ ]:
tp=('tuple',)
type(tp)

In [ ]:
tp1 = ("apple", "banana", "cherry")
tp2 = (1, 5, 7, 9, 3)
tp3 = (True, False, False)

In [ ]:
type(tp1)
type(tp2)
type(tp3)

In [ ]:
tp=("character","Wifi",12,"Kivi",12.0)
tp[-5]

In [3]:
tp = ("apple", "banana", "cherry")
a=(1,)
tp=tp+a
tp

('apple', 'banana', 'cherry', 1)

In [ ]:
tp1 = ("apple", "banana", "cherry")
tp2 = (1, 5, 7, 9, 3)
tp=tp1+tp2
tp

In [4]:
tp1 = ("apple", "banana", "cherry")
tp=tp1*2
tp

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

## Dictionaries

In [ ]:
my_dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
my_dict

In [ ]:
my_dict.keys()

In [ ]:
my_dict.values()

In [9]:
my_dict['model']="BMW M5"
my_dict

{'brand': ['Ford', 'World'], 'model': 'BMW M5', 'year': 1964}

In [ ]:
my_dict.update({"year":2030})
my_dict

In [ ]:
my_dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in my_dict:
    print("Yes, model exists in dictionary")
else:
    print("Not exists")

In [ ]:
my_dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "Ford" in my_dict.values():
    print("Yes, model exists in dictionary")
else:
    print("Not exists")

In [ ]:
my_dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
my_dict.update({"color": "red"})
my_dict

In [8]:
my_dict = {
  "brand": ["Ford","World"],
  "model": "Mustang",
  "year": 1964
}
#my_dict.pop('model')
my_dict

{'brand': ['Ford', 'World'], 'model': 'Mustang', 'year': 1964}

In [2]:
ls=[12,13,14]
ls.insert(0,4)
ls

[4, 12, 13, 14]

TypeError: 'tuple' object does not support item assignment

In [2]:
my_list = [1, 2, 3, 4, 3, 5]
count = my_list.count(3)
print(count)  # Output: 2

2

In [6]:
my_list = [1, 2, 3, 4, 3, 5]
tp=(12,34,)
tp1=my_list+tp

TypeError: can only concatenate list (not "tuple") to list

In [7]:
my_dict = {
  1: "Ford",
  2: "Mustang",
  3: 1964
}
my_dict

{1: 'Ford', 2: 'Mustang', 3: 1964}

In [12]:
my_dict={"namr":"wasif"}
if "namr" in my_dict:
    print("h")
else:
    print("no")

h